<h2>Page to display the data</h2>

<p> 
    <div><b>First Name:</b>{{firstName}}</div>
    <div><b>Last Name:</b>{{lastName}}</div>
    <!-- <div><b>Email:</b>{{email}}</div> -->
    <div><b>State:</b>{{scopeVar}}</div>

</p>